#nav{
    height: 120px;
    width: 100%;
    text-align: center;
}

#brand{
    margin-top: 25px;
}

#category-container{
    height: 43px;
    width: 100%;
    text-align: center;
}

#category-container a{
    padding-left: 25px;
    padding-right: 25px;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
    color: #59595B;
}

.active{
    border-bottom-style: solid;
    border-bottom-color: #5CC7B2;
}

#news-container{
    text-align: center;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    background-color: #E9EBEE;
}